<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProReader</title>
</head>
<body>
    <h1><a href="{% url 'main' %}">ProReader</a></h1>
    <nav>
        <a href="{% url 'main' %}">Главная</a>
        {% if user.is_anonymous %}
            <div style="text-align: right">
                <a href="{% url 'authorization' %}">Авторизация</a>
                <a href="{% url 'registration' %}">Регистрация</a>
            </div>
        {% else %}
            <a href="{% url 'book_add' %}">Добавить заметку о книге</a>
            <a href="{% url 'tags' %}">Теги</a>
            <div style="text-align: right">
                Вы авторизованы как <b><i>{{ user.username }}</i></b>
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
    <hr>
</body>
</html>