{% extends 'web/base.html' %}
{% block content %}
    {% if not user.is_anonymous %}
        <p>Вы авторизованы как <b><i>{{ user.username }}</i></b>.</p>
    {% endif %}
    <ul>
        {% for book_note in book_notes %}
            <li>
                <p>
                    <b>{{ book_note.title }}</b>
                    {% if book_note.done == True %}
                        <small>Прочитано</small>
                    {% endif %}
                </p>
                <p><i>Автор: {{ book_note.author }}</i></p>
                <p>Жанр: {{ book_note.genre }}</p>
                <p><small>Описание: {{ book_note.description }}</small></p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}