{% extends 'web/base.html' %}
{% block content %}
    {% if current_book is not None %}
        <h4>Текущая книга: {{ current_book.title }}</h4>
        <form action="{% url 'book_check' current_book.id %}" method="post">
            {% csrf_token %}
            <button>Прочитать</button>
        </form>
    {% else %}
        <h4>Добавление заметки о книге</h4>
        <form action="{% url 'book_add' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Сохранить</button>
        </form>
    {% endif %}
    <form action="">
        <b>Фильтры:</b><br>
        {% for field in filter_form %}
            {{ field.label }}
            {{ field }}
        {% endfor %}
        <button>Найти</button>
        <button name="export" value="csv">Скачать в формате CSV</button>
        <a href="?">Показать всё</a>
    </form>
    <small>Всего записей - {{ total_count }}. На этой странице - {{ book_notes|length }}.</small>
    {% if book_notes|length != 0 %}
        <h1>Заметки:</h1>
        <ul>
            {% for book_note in book_notes %}
                <li>&nbsp
                    <table>
                        <tr>
                            <td>
                                <p>
                                    <b>{{ book_note.title }}</b>
                                    {% if book_note.done == True %}
                                        <small>(Прочитано)</small>
                                    {% endif %}
                                </p>
                                <p><i>Автор: {{ book_note.author }}</i></p>
                                <p>Жанр: {{ book_note.genre }}</p>
                                <small>
                                    {% if book_note.tags.all %}
                                        Всего тегов - {{ book_note.tags_count }}:
                                        [{% for tag in book_note.tags.all %}{{ tag.title }} {% endfor %}]<br>
                                    {% endif %}
                                    Пользователь: {{ book_note.user.username }}
                                </small>
                                <p><small>Описание: {{ book_note.description }}</small></p>
                                <p><small>
                                    <a href="{% url 'book_edit' book_note.id %}">Изменить</a>
                                    <a href="{% url 'book_delete' book_note.id %}">Удалить</a>
                                </small></p>
                            </td>
                            <td>
                                {% if book_note.image != '' and book_note.image is not None %}
                                    <img src="{{ MEDIA_ROOT }}/{{ book_note.image }}">
                                {% endif %}
                            </td>
                        </tr>
                    </table>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <nav>
        {% if book_notes.has_previous %}
            <a href="?page=1">В начало</a>
            <a href="?page={{ book_notes.previous_page_number }}">Предыдущая страница</a>
        {% endif %}
        Страница {{ book_notes.number }} из {{ book_notes.paginator.num_pages }}
        {% if book_notes.has_next %}
            <a href="?page={{ book_notes.next_page_number }}">Следующая страница</a>
            <a href="?page={{ book_notes.paginator.num_pages }}">В конец</a>
        {% endif %}
    </nav>
{% endblock %}